body {
    background-color: white;
    padding-top: 66px;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-item.disabled .page-link {
    pointer-events: none;
    opacity: 0.5;
  }
  
  .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
  }
  